.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
}
